################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApplication/FileContentIndex/50f93a5d-89cc-4fa0-b837-842b9e96adb2.vsidx
